<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="E2E Testing Suite">
    
    <test name="Desktop Chrome Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.choice.testing.tests.desktop.HomePageTest"/>
        </classes>
    </test>
    
    <!-- Future mobile tests -->
    <!-- 
    <test name="Mobile Android Tests">
        <parameter name="platform" value="android"/>
        <classes>
            <class name="com.choice.testing.tests.mobile.MobileHomePageTest"/>
        </classes>
    </test>
    -->
    
</suite>
